@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
  background-color: #150f0f;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body,
input,
select,
label,
button,
textarea {
  font-family: 'Kanit', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

label {
  color: #fff;
}

.ReactModal__Overlay--after-open {
  background-color: hsla(0, 0%, 36%, 0.40) !important;  
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  border-top: rgb(255, 255, 255) solid 1px;
}
.footerText {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ffffff !important;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.footerMedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

/* Checkout form */
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}


/* Order Details

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.order-details .items {
  text-align: right;
  padding: 0;
}
.success-message {
  color: green;
} */